<% flash.each do |name, msg| %> 
   <%= msg %> 
<% end %>
<div class="enclosure">
   title: <%= @article.title %>
   body: <%= @article.body %>
   <% if @article.user %>
      created_by: <%= @article.user.username  %>
   <% end %>
</div>